<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>



<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="editUser" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"> Employee Info </h4>
                </div>

                <div class="modal-body">
                    <table align="center">
                        <tr>
                            <td align="right">UserID</td>
                            <td align="left"><input type="number" name="userId" [(ngModel)]="userObj.userId" readonly />
                            </td>
                        </tr>

                        <tr>
                            <td align="right">User Name</td>
                            <td align="left"><input type="text" name="userName" [(ngModel)]="userObj.userName" /> </td>
                        </tr>

                        <tr>
                            <td align="right">Email-ID</td>
                            <td align="left"><input type="text" name="emailId" [(ngModel)]="userObj.emailId" /> </td>
                        </tr>

                        <tr>
                            <td align="right">Password</td>
                            <td align="left"><input type="password" name="password" [(ngModel)]="userObj.password"
                                    readonly /> </td>
                        </tr>


                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-dark" (click)="updateUs()" data-dismiss="modal"> Update
                        Employee </button>
                </div>

            </div>

        </div>
    </div>

</div>






<h1 align="center">Show users</h1>
<br />

<div class="container" *ngIf="users">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info" >
            <tr>
                <th> UserId </th>
                <th> UserName </th>
                <th> EmailId </th>
                <th colspan="2"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td> {{user.userId }} </td>
                <td> {{user.userName }} </td>
                <td> {{user.emailId }} </td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" (click)="editUser(user)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteUs(user.userId)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>