html,
body {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
    background-image: url("/assets/images/admin.jpg");
    background-size: cover;
}

.action-buttons {
    margin-top: 20px;
    text-align: center;
}

.action-buttons button {
    margin-bottom: 10px;
}