<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Register</title>
</head>

<body>

  <div class="container container-main-creat-account bg-image-creat-account">
    <div style="width: 450px; margin: auto;">
      <h1 style="font-family: cursive;"> Create Account </h1> <br />

      <form #regForm="ngForm" (ngSubmit)="userRegistration(regForm.value)"  novalidate  class="login-box-creat-account">

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" name="userName" ngModel #userName="ngModel" required minlength="3"
            maxlength="50" placeholder="Enter your name" />
        </div><br />



        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
          <input class="form-control" type="email" name="emailId"  ngModel #emailId="ngModel"
            required minlength="2" maxlength="125" placeholder="Enter your Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
        </div><br />

        <div *ngIf="emailId.errors?.['required'] && emailId.touched">
          <h6 style="color: red;"> Please Enter EmailId </h6>
        </div>
        <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
          <h6 style="color: red;"> Please Enter Atleast 2 Characters </h6>
        </div>
        <div *ngIf="emailId.errors?.['pattern']">
          <h6 style="color: red;">Please Enter Valid Email </h6>
                    
        </div>

        <div class="input-group">

          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" id="show" type="password" name="password"  ngModel
            #password="ngModel" required minlength="8" maxlength="10" placeholder="Enter your Password"
            pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}" />
        </div><br />

        <div *ngIf="password.errors?.['required'] && password.touched">
          <h5 style="color: red;"> Please Enter Password </h5>
        </div>
        <div *ngIf="password.errors?.['minlength'] && password.touched">
          <h5 style="color: red;"> Please Enter Atleast 8 Characters </h5>
        </div>

        <div *ngIf="password.errors && (password.dirty && password.touched)"
          class="alert-password alert-danger-password"  ><br>

          <div id="style" [hidden]="!password.errors['pattern']">

            <h3 style="color: red;" class="fontsize-validation"> Password is Too Weak. <br><br>
              At least 8 characters in length<br><br>
              At least Lowercase letter<br><br>
              At least Uppercase letter<br><br>
              At least Number<br><br>
              At least Special character<br><br></h3>
          </div>
          <div [hidden]="!password.errors['required']">
            Password is must required
          </div>
        </div>

        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-repeat"></i></span>
          <input class="form-control" type="password" name="confirmPassword"  ngModel
            #confirmPassword="ngModel" required minlength="2" maxlength="20" placeholder="Confirm Password" />
        </div><br />

        <button [disabled]="!regForm.valid" class=" btn btn-dark" > Register </button> <br>

        <div class="container">

          <div *ngIf="userName.errors?.['required'] && userName.touched">
            <h3 style="color: red;"> Please Enter userName </h3>
          </div>
          <div *ngIf="userName.errors?.['minlength'] && userName.touched">
            <h3 style="color: red;"> Please Enter Atleast 2 Characters </h3>
          </div>


        </div>
      </form>
    </div>
  </div>

  
</body>

</html>