.container-main-creat-account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box-creat-account {
    width: 450px;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 40px 30px 10px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .bg-image-creat-account {
    background-image: url("/assets/images/reg.jpg");
    background-size: cover;
    height: 100vh;
  }
  
  .fontsize-validation {
    font-size: 17px;
  }