<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="https://kit.fontawesome.com/b7926f3752.js" crossorigin="anonymous"></script>
  <title>Login</title>

</head>


<body>
  <div class="container-main bg-image-login">
    <div class="login-box">
      <h1 style="font-family: cursive">Login</h1>
      <br />
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)" novalidate>
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel" required
            placeholder="Enter your Email" minlength="2" maxlength="50" />
        </div>
        <br />
        <div class="input-group">
          <div *ngIf="emailId.errors?.['required'] && emailId.touched">
            <h6 style="color: red">!!! Please Enter EmailId</h6>
          </div>
          <div *ngIf="emailId.errors?.['minlength'] && emailId.touched">
            <h6 style="color: red">Please Enter Atleast 2 Characters</h6>
          </div>
        </div>
        <br />
        <div class="input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
          <input class="form-control" type="password" name="password" ngModel #password="ngModel" required minlength="2"
            maxlength="10" placeholder="Enter your Password" />
        </div>
        <br />
        <div *ngIf="password.errors?.['required'] && password.touched">
          <h6 style="color: red">Please Enter Password</h6>
        </div>
        <div *ngIf="password.errors?.['minlength'] && password.touched">
          <h6 style="color: red">!!! Please Enter Atleast 2 Characters</h6>
        </div>
        
        <p>
          Don't have an account yet?
          <a (click)="registerPage()">
            <u><b><i style="color: black">Register</i></b></u></a>
        </p>

      
        <div id="g_id_onload" data-client_id="204574046235-l4nttvojti2pa01kq774m29dtdeb1fts.apps.googleusercontent.com"
          data-context="signin" data-ux_mode="popup" data-login_uri="http://localhost:3000/api/login"
          data-auto_select="true" data-itp_support="true">
        </div>

        <div class="g_id_signin" data-type="icon" data-shape="square" data-theme="outline" data-text="signin_with"
          data-size="large">
        </div>
        <br />
        <button [disabled]="!loginForm.valid" class="btn btn-dark">
          Login
        </button>
        <br /><br />
      </form>
    </div>
  </div>
</body>

</html>