<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Login</title>
  <style>
    .product-card {
      width: 300px;
      height: 400px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .product-card img {
      width: 50%;
      height: 50%;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    .product-card .card-body {
      padding: 20px;
      text-align: center;
    }

    .product-card .card-title {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .product-card .card-text {
      margin-bottom: 20px;
    }

    .product-card .price {
      font-size: 16px;
      font-weight: bold;
    }

    .product-card .add-to-cart {
      text-align: right;
    }
  </style>
</head>
<br><br><br><br><br><br><br><br><br>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card product-card">
          <img class="card-img-top" [src]="product.prodImg" alt="Product Image">
          <div class="card-body">
            <h4 class="card-title">{{ product.prodName }}</h4>
            <p class="card-text">{{ product.proDesc }}</p>
            <div class="price">Price: ₹{{ product.prodPrice }}/-  </div>
            <div class="add-to-cart">
              <button class="btn btn-dark" (click)="addToCart(product)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
