<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register Product</title>
</head>

<body>
    <div class="container">
        <div style="width: 450px; margin: auto;">
            <h1> Product Registration </h1> <br />
            <form #regForm="ngForm" (ngSubmit)="registerProduct(regForm.value)" novalidate>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-text-color"></i></span>
                    <input class="form-control" type="text" name="prodName" ngModel #prodName="ngModel" required
                        minlength="3" maxlength="500" placeholder="Enter product name" />
                </div><br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-link"></i></span>
                    <input class="form-control" type="text" name="prodImg" ngModel #prodImg="ngModel" required
                        minlength="2" maxlength="5000" placeholder="Enter image url" />
                </div><br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-option-horizontal"></i></span>
                    <input class="form-control" type="text" name="proDesc" ngModel #proDesc="ngModel" required
                        minlength="2" maxlength="100" placeholder="Enter product description" />
                </div><br />
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-inr"></i></span>
                    <input class="form-control" type="text" name="prodPrice" ngModel #prodPrice="ngModel" required
                        minlength="2" maxlength="25" placeholder="Enter product Price" />
                </div><br />
                <button class=" btn btn-dark" (click)="onRegister()"> Register Product </button> <br>
            </form>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{ product.prodName }}</td>
                <td><img [src]="product.prodImg" alt="{{ product.prodName }}" height="50px" width="50px"></td>
                <td>{{ product.proDesc }}</td>
                <td>₹{{ product.prodPrice }}/-</td>
            </tr>
        </tbody>
    </table>
</body>
</html>