<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/b7926f3752.js" crossorigin="anonymous"></script>
    <title>Welcome to Big Basket</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-image: url("/assets/images/final.jpg");
            background-size: cover;
        }

        .welcome-text {
            font-size: 60px;
            text-align: center;
            font-family:monospace;
            color: solid black;
        }

        .shop-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: transparent;
            color: solid black;
            font-size: 18px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            border: 2px solid black;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        .shop-button:hover {
            background-color: grey;
            color: #fff;
        }

        .center-content {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="center-content">
        <h1 class="welcome-text">Welcome to Big Basket</h1>
        <button class="shop-button" (click)="onClick()">Shop now</button>
    </div>
</body>

</html>
