<header class="header">
  <a routerLink="home"><img
    src="https://s.yimg.com/fz/api/res/1.2/zNnBI5.azMPoxiIGYrDpsg--~C/YXBwaWQ9c3JjaGRkO2ZpPWZpdDtoPTI0MDtxPTgwO3c9MzMy/https://s.yimg.com/zb/imgv1/ebdcd59b-bf53-3a1f-a34f-937ae81dc2dc/t_500x300"></a>
 
    <nav class="navbar">
    <a *ngIf="!isLoggedIn" routerLink="login">Login</a>
    <a *ngIf="isLoggedIn" routerLink="logout">Logout</a>
      <a  routerLink="admin">Admin</a>
      <a  routerLink="products">Products</a>
      <a  routerLink="cart">Cart</a>
      
    </nav>

  <div class="icons">
    <!-- <a routerLink="logout">   Logout    </a> -->
  </div>
</header>