


@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap'); 

  :root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
    --border: .2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid var(--black);

  }
  *{
    font-family: 'Belanosima', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
  }


  html{
    font-size:62.5% ;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

  }

  body{
    background: antiquewhite;
  }

  .header{
    position: fixed;
    top:0; left:0;right:0;
    z-index:1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 9%;
    background: aliceblue;
    box-shadow: var(--box-shadow);
    
  }

  .header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color:var(--black);
  }

  .header .logo i{
    color:var(--orange);

  }
  .header .navbar a{
    font-size: 2rem;
    cursor: pointer;
    margin:2.5rem;
    color:var(--black);
    margin-bottom: .3rem;
  }
  .header .navbar a:hover{
    background: var(--orange);
    color:gray;
  }

  

  img{
    width: 100px;
  }
   
  .search-container {
    display: flex;
    align-items: center;
  }
  input {
    width: 500px;
    padding: 5px;
  }

  