<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <form>
        <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Lrzd0cyqrVvkIe"
            async> </script>
    </form>
</head>

<h1 align="center">Cart Items</h1>
<br />

<div class="container" *ngIf="products">
    <table class="table table-sm text-center table-hover table-bordered table-striped">
        <thead class="bg-info">
            <tr>
                <th class="text-center"> ProductId </th>
                <th class="text-center"> ProductName </th>
                <th class="text-center"> Price </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td> {{ product.prodId }} </td>
                <td> {{ product.prodName }} </td>
                <td> {{ product.prodPrice }} </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <label for="name">Name:</label>
    <input type="text" id="name" [(ngModel)]="name" name="name" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="email" name="email" required>
  
    <label for="mobile">Mobile Number:</label>
    <input type="tel" id="mobile" [(ngModel)]="mobileNumber" name="mobile" required>  
    
  </div>
<div class="text-center">
    <h3>Total Price: {{ totalAmount | currency: 'INR' }}</h3>
    <button class="btn btn-dark" (click)="placeOrder()">Buy</button>
</div>